#carousel-wrapper {
    background-color: #152f2f;
    background: url(../../img/pages/index/carousel/wrapper_bg.jpg) center no-repeat;
    background-size: cover;
}
#carousel {
	display: flex;
    align-items: center;
    color: #e7e4ee;
}
#carousel .lead {
	margin-bottom: 50px;
}
#carousel h2 {
	color: #f6d70e;
	font-weight: normal;
}
#carousel .carousel-inner,
#carousel .carousel-item {
	height: 100%;
}
#carousel .carousel-item {
	align-items: center;
}
#carousel .carousel-item.active,
#carousel .carousel-item-next,
#carousel .carousel-item-prev {
	display: flex;
}
#carousel .carousel-item {
	padding-top: 60px;
	padding-bottom: 60px;
}
#carousel .carousel-item.active {
	background-position-y: 30px;
}

#carousel-wrapper {
	filter: contrast(115%);
}
#carousel-wrapper .carousel-item .btn {
	min-width: 275px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#carousel-wrapper .carousel-item__content {
	padding-left: 3px;
}

@media (min-width: 768px) {
	#carousel .carousel-item {
		background-repeat: no-repeat;
		background-position: 100% -600%;
		background-size: auto 100%;
		transition: .6s ease;
	}
	#carousel {
		height: 630px;
	}

	#carousel-wrapper {
		position: relative;
		margin-top: -60px;
		z-index: 0;
	}
}
@media (min-width: 992px) {
	#carousel .carousel-item {
		background-position-x: 90%;
		background-size: auto 120%;
	}
}
@media (max-width: 767px) {
	#carousel-wrapper .carousel-item {
		background-image: none!important;
	}
}