@import "../mixins/element-in-circle";

$ballRollingDurration: 1s;

#game-balls-container {
  background-image: url(../../img/pages/game-room/balls-circle-bg.svg);
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

#list-of-circle-balls {
  @include elements-in-circle($item-count: 16, $circle-size: 270px, $item-size: 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 40px rgba(21, 37, 39, .8);
}

#current-game-ball {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  font-size: 60px;
  font-weight: bold;
  color: #236b89;
  background-color: #fff;
  background-image: radial-gradient(circle farthest-side at 50px 50px,#fff 0%, #eee 99.9%);
  box-shadow:
    inset -25px -25px 40px rgba(21, 37, 39, .2),
    inset 0 0 40px rgba(21, 37, 39, .8),
    0 0 40px rgba(21, 37, 39, .2);
  span {
    display: flex;
    justify-content: center;
    min-width: 200px;
    transform: translateX(200px);
    animation: ballTextRolling $ballRollingDurration linear infinite;
  }
}

@keyframes ballRolling {
  0% { transform: translateX(250px); }
  33% {
    transform: translateX(0);
  }
  66% {
    transform: translateX(0);
  }
  100% { transform: translateX(-250px); }
}

@keyframes ballTextRolling {
  0% { transform: translateX(150px) rotate3d(0, 1, 0, -90deg); }
  50% { transform: translateX(0px); }
  100% { transform: translateX(-150px) rotate3d(0, 1, 0, 90deg); }
}

@keyframes enableLight {
  0% {
    box-shadow: none;
  }
  33% {
    box-shadow: none;
  }
  66% {
    box-shadow: rgba(236,197,14,.8) 0 0 140px;
  }
  100% {
    box-shadow: none;
  }
}
@keyframes enableOpacity {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}