#header {
	position: relative;
	z-index: 1;
}

#header .feather {
	margin-right: 12px;
}

#header .navbar-brand>img {
	height: 49px;
}

#info-bar__top {
	background-color: #f1efe6;
}
#info-bar__top__actions {
	flex: 1;
	text-align: right;
}
#info-bar__top__actions .btn-primary {
	color: #5f6c6c;
}
#info-bar__top__actions .btn {
	min-width: 275px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}
#info-bar__top .btn>span {
	font-size: 1.3125rem;
}
#info-bar__top .btn>span {
	font-weight: bold;
}

#authorization .btn:not(:last-child) {
	margin-right: 10px;
}
#authorization .btn {
	min-width: 175px;
}


@media (min-width: 992px) {
	#info-bar__top__actions .btn:first-child {
		margin-right: 10px;
	}
}

@media (max-width: 767px) {
	#info-bar__top__actions>.btn:not(:last-child) {
		margin-bottom: 5px;
	}

	#authorization {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}