#header {
	position: relative;
	z-index: 1;
}

#main-navigation .nav-link {
	padding-left: 1rem;
	padding-right: 1rem;
}

#main-navigation .nav-link [data-icon] {
	opacity: .75;
}
#main-navigation .nav-link:hover [data-icon] {
	opacity: .9;
}
#main-navigation .nav-link.active [data-icon] {
	opacity: 1;
}

#main-navigation .feather-user {
	color: #fff;
	margin-right: 6px;
}

#user-sidenav {
	display: flex;
	justify-content: flex-end;
}

#user-navbar {
	display: flex;
	align-items: center;
	padding-right: 6px;
}
#user-navbar .nav-link {
	color: #fff;
	line-height: 1;
	font-size: 1.25rem;
}
#user-navbar .nav-link .feather {
	color: #ecc50e;
}

#header .navbar-brand>img {
	height: 49px;
	image-rendering: -webkit-optimize-contrast;
}

#info-bar__top {
	background-color: #f1efe6;
}
#user-sidenav {
	flex: 1;
	text-align: right;
}
#user-sidenav .btn {
	min-width: 275px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
}
#info-bar__top .btn>span {
	font-size: 1.3125rem;
}
#info-bar__top .btn>span {
	font-weight: bold;
}

#authorization .btn:not(:last-child) {
	margin-right: 10px;
}

#info-bar__top .navbar-toggler {
	background-color: #142627;
	border-color: #142627;
}

@media (min-width: 768px) {
	#main-navigation {
		padding: 1.25rem 1rem;
	}
	#user-sidenav .btn:first-child {
		margin-right: 10px;
	}
}
@media (max-width: 767px) {
	#header {
		position: sticky;
		left: 0;
		right: 0;
		top: 0;
		z-index: 19;
	}
	#header .navbar-brand {
		margin-right: 0;
	}

	#user-sidenav>.btn:not(:last-child) {
		margin-bottom: 5px;
	}

	#authorization {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	#main-navigation>.container {
		justify-content: flex-end;
	}

	#user-sidenav .btn {
		width: 100%;
		border-radius: 0;
	}
}
@media (min-width: 360px) {
	#authorization .btn {
		min-width: 175px;
	}
}