@media (max-width: 767px) {
  .sidenav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 20;
    transition: left .36s ease;
    overflow: hidden;
  }
  .sidenav.show {
    left: 0;
    background-color: rgba(0,0,0,.5);
    transition: left .36s ease, background-color .24s ease .36s;
  }
  .sidenav.sidenav_right {
    left: initial;
    right: -100%;
    transition: right .36s ease;
  }
  .sidenav.sidenav_right.show {
    left: initial;
    right: 0;
    transition: right .36s ease, background-color 1s ease .36s;
  }
  .sidenav>.navbar-nav,
  .sidenav>.nav {
    display: block;
    height: 100%;
    width: 280px;
    position: absolute;
    top: 0;
    left: 0;

    background-color: #142627;
    overflow-x: hidden;
    padding-top: 15px;
    transition: 0.36s;
  }
  .sidenav.sidenav_right>.navbar-nav,
  .sidenav.sidenav_right>.nav {
    left: initial;
    right: 0;
  }
  .sidenav .nav-link {
    display: block;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(255,255,255,.1);
  }
}