/// Mixin to place items on a circle
/// @param {Integer} $item-count - Number of items on the circle
/// @param {Length} $circle-size - Large circle size
/// @param {Length} $item-size - Single item size
@mixin elements-in-circle($item-count, $circle-size, $item-size) {
  $border-size: $item-size + 10px;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: $border-size solid #F2994A;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  z-index: 5;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    top:  50%;
    left: 50%;
    border-radius: 50%;
    background-color: #fff;
    color: #236b89;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);

    $angle: (360 / $item-count);
    $rot: -90;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform:
                rotate($rot * 1deg)
                translate($circle-size / 2 - $border-size / 2)
                rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}