@import "bootstrap";
@import "bootstrap_theme";
@import "icons";

@import "components/header";
@import "components/footer";
@import "components/sidenav";

.modal-title {
  display: flex;
  align-items: center;
}

.modal-title .feather {
  margin-right: 12px;
}