#main-navigation {
  background-color: #122223;
}

#account-navbar-container {
  padding: 1rem;
  background-color: #efefef;
  box-shadow: rgba(157, 157, 157, .14) 0 8px 84px;
}

#account-navbar-container .navbar-text {
  padding: .5rem;
  font-size: 1.125rem;
  font-weight: 400;
  color: #132324;
}

.btn-primary.btn-lg {
  color: #ffffff;
  text-transform: capitalize;
}


h1 {
  font-size: 1.375rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 70px;
}

h2 {
  font-size: 1.125rem;
}

.form-section .form-control {
  border-width: 0;
}

.form-section .form-control-container .form-control {
  border-width: 1px;
  box-shadow: none;
}

.form-section {
  padding: 20px;
}

.form-section header {
  margin-bottom: 20px;
}

.icon-container {
  text-align: center;
}
.icon-container .feather,
.icon-container [data-icon] {
  height: 55px;
  width: 55px;
  margin-bottom: 40px;
}

.form-section>.row>div:nth-child(1) {
  padding-right: 8px;
}
.form-section>.row>div:nth-child(2) {
  padding-left: 8px;
}

#account-navbar {
  justify-content: center;
}

#account-navbar .feather {
  width: 28px;
  height: 28px;
}

#account-navbar-container .nav-link {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgba(20,38,39,.8);
}

.form-section .form-control-lg {
  box-shadow: rgba(157,157,157,.08) 0 12px 16px;
}

.form-control-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0,0,0, .14) 0 80px 140px;
}

@media (min-width: 768px) {
  #account-navbar>.navbar-nav {
    flex-direction: row;
  }
  #account-navbar-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
  }
  #account-navbar-container,
  #main .bg-cream {
    border-radius: 0 0 10px 10px;
  }

  #account-navbar-container .nav-link {
    padding: 1rem;
    white-space: nowrap;
  }
  #account-navbar-container .nav-item.active .nav-link {
    color: rgba(20,38,39,1);
  }
  #account-navbar-container .nav-item:not(:last-child) {
    margin-right: 2rem;
  }

  #account-navbar-container .nav-item.active {
    border-bottom: 3px solid #ecc50e;
  }
  #main .bg-cream {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  #account-navbar {
    justify-content: flex-end;
  }
  #account-navbar-container {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #account-navbar-container .nav-link {
    padding: 1.85rem .5rem;
  }
}
@media (min-width: 1300px) {
  #account-navbar-container {
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
  }
  #account-navbar-container .navbar-text {
    padding: 2rem .5rem;
  }
  #main .bg-cream {
    margin-bottom: 555px;
  }
  .form-section {
    max-width: 1130px;
    margin: auto;
    padding: 85px 0;
  }

  .form-section>.row>div:nth-child(1) {
    padding-right: 70px;
  }
  .form-section>.row>div:nth-child(2) {
    padding-left: 70px;
  }

  .has-border-right:after {
    content: "";
    display: block;
    width: 0;
    height: 350px;
    border-right: #e0e0e4 1px solid;
    position: absolute;
    right: 0;
    bottom: 20px;
    margin: auto;
  }
}
@media (max-width: 767px) {
  #account-navbar-container .navbar-text {
    display: none;
  }
}