@import "../components/game-card";

#main>.container {
  margin-bottom: 50px;
  border-radius: 0 0 10px 10px;
  padding: 0 8px 3px 8px;
  background-color: #eceae1;
}

#price-list {
  background-color: #254749;
  color: #ecc50e;
  padding: 2rem;
  margin-bottom: 8px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1rem;
  .price-list__price {
    font-weight: 500;
    color: #fff;
  }
}

#number-caller-board {
  display: flex;
  background-image: radial-gradient(ellipse farthest-corner at center top, #294647 0%, #152527 75%);
  border-radius: 10px;
  margin-bottom: 8px;
}

#number-caller-board__list-of-numbers {
  list-style: none;
  padding: 24px;
  margin-bottom: 0;
  color: #fff;
  li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    min-height: 45px;
    border-radius: 8px;
    background-color: #2f494b;
    color: #819192;
    font-size: 1.25rem;
    font-weight: 500;
    &:nth-child(1),
    &:nth-child(16),
    &:nth-child(31),
    &:nth-child(46),
    &:nth-child(61) {
      margin-bottom: 24px;
    }
    &.active {
      background-color: #ecc50e;
      box-shadow: rgba(236, 197, 14, .53) 0 0 38px 2px;
      color: #fff;
      z-index: 1;
    }
  }
}
#number-caller-board__current-call-number {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#game-bar {
  display: flex;
  align-items: center;
  color: #000;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 10px;
  margin-bottom: 8px;
  font-size: 1.125rem;
}
#game-bar__status {
  flex: 1;
  max-width: 640px;
}
#game-bar__recently-taken {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  figcaption {
    padding: 12px;
  }
}
#list-of-called-numbers {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin-right: 8px;
    border-radius: 50%;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: #f8d531;
    color: #fff;
    box-shadow: rgba(0,0,0,.1) 0 10px 12px;
  }
}

#game-room-navbar {
  border-radius: 10px;
  margin-bottom: 8px;
  .nav-link {
    padding: 12px;
  }
  .list-of-badges {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    li {
      margin: 4px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.current-call-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 400px;
  height: 400px;
  font-size: 60px;
  font-weight: bold;
  color: #236b89;
  background-image:
          radial-gradient(ellipse at center,#FFF 15%,#ddd 25%,#86a9b4 31%,#6b7d86 35%, transparent 35%),
          url(../../img/pages/game-room/border-image.svg),
          url(../../img/pages/game-room/ball-animation-bg.svg);
  background-position: center;
  background-size: auto, 180px, 180px;
  background-repeat: no-repeat;
  transition: background-size .7s ease;
  transition-delay: .7s;
}
.current-call-number.animated {
  background-size: auto, 260px, 360px;
}

.ball {
  position: relative;
  margin: 0;
  border-radius: 50%;
  transform: translateY(-500px);
  transition: transform .7s ease, border .7s;
  transition-delay: 0s, .7s;
}
.ball:after {
  box-sizing: content-box;
  content: attr(data-ball-number);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: radial-gradient(ellipse at center,#FFF 30%,#ddd 49%,#86a9b4 63%,#6b7d86 69%);
  //box-shadow: rgba(0,0,0,.42) 0 0 84px inset, rgba(0,0,0,.24) 0 0 84px;
  //border: #fdb843 35px solid;
  transition: .7s;
  transition-delay: .7s, .7s;
}
.ball:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/pages/game-room/ball-animation-bg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  z-index: -1;
  transition: .7s ease;
  transition-delay: .7s;
}

.ball.animated {
  transform: translateY(0);
}
.ball.animated:after {
  border: 34px solid #ecc50e;
  box-shadow:
      rgba(236,197,14,.8) 0 0 240px,
      rgba(236,197,14,.2) 0 0 70px inset;
}
.ball.animated:before {
  opacity: .1;
  transform: scale(1.5);
}

@media (min-width: 1300px) {
  #number-caller-board__list-of-numbers {
    max-width: 800px;
  }
  #game-bar__status {
    margin-left: 60px;
  }
  #game-room-navbar {
    .nav-link {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
}